/* Setting up custom variables */
:root {
    --ff-ys: 'Young Serif', sans-serif;
    --ff-outfit: 'Outfit', sans-serif;

    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-800: 2.35rem;

    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-peach-200: hsl(29, 36%, 87%);
    --clr-rose-50: hsl(330, 100%, 98%);
    --clr-rose-800: hsl(332, 51%, 32%);
}

*, /* Makes it so padding and border is included in width and height of elements */
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-outfit);
    padding: 0;
    margin: 0;
    background: var(--clr-peach-200);
    display: grid;
    justify-items: center;
}

.recipe-container {
    background: var(--clr-white);
    max-width: 48vw;
    margin-block: 4rem;
    padding: 2.5rem;
    border-radius: 1.35rem;
}

.recipe-container img {
    max-width: 100%;
    border-radius: 0.8rem;
}

.recipe-container header h1 {
    font-family: var(--ff-ys);
    font-weight: var(--fw-normal);
    font-size: var(--fs-800);
    color: var(--clr-stone-900);
}

.recipe-container header p {
    font-weight: var(--fw-normal);
    font-size: var(--fs-400);
    color: var(--clr-stone-600);
}

.recipe-container h2 {
    font-family: var(--ff-ys);
    font-weight: var(--fw-normal);
    font-size: var(--fs-600);
    color: var(--clr-brown-800);
}

.recipe-container ul {
    padding-left: 1.4rem;
}

.recipe-container li {
    color: var(--clr-stone-600);
    margin-bottom: 1rem;
    padding-left: 1.1rem;
}

.preparation {
    margin: 0;
    margin-top: 2rem;
    background: var(--clr-rose-50);
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.75rem;
}

.preparation h3 {
    margin-top: 0;
    color: var(--clr-rose-800);
}

.preparation li::marker{
    color: var(--clr-rose-800);
    font-size: 0.75rem;
}

.preparation li span {
    color: var(--clr-stone-800);
    font-weight: var(--fw-bold);
}

.ingredients li::marker {
    color: var(--clr-brown-800);
    font-size: 0.75rem;
}

.instructions li::marker {
    color: var(--clr-brown-800);
    font-weight: var(--fw-semi-bold);
}

.instructions ol {
    padding-left: 1.5rem;
}

.instructions span {
    font-weight: var(--fw-bold);
}

.nutrition p {
    color: var(--clr-stone-600);
}

.nutrition-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.nutrition-name {
    margin-left: 1rem;
    color: var(--clr-stone-600);
}

.nutrition-value {
    color: var(--clr-brown-800);
    font-weight: var(--fw-bold);
}

.fade {
    color: hsla(30, 10%, 34%, 0.1);
}